body {
}

h1 {
  /* font-family: montserrat; */
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin: 1rem 0;
}

.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card__container-text {
}

.card__container-image {
  display: flex;
  justify-content: center;
  width: 35vw;
}

.card__container-image__image {
  width: 100%;
}
